* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Lato, "sans-serif";
}
.slick-dotted ul {
  list-style-type: none;
  text-align: center;
  position: relative;
  margin-top: 10px;
}
.slick-dotted li {
  display: inline-block;
  margin: 0 7px;
}
.slick-dotted button:focus {
  outline: 0;
}
.slick-dotted li button {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  color: #d8d8d8;
  border-width: 0;
  background: #d8d8d8;
  opacity: 1;
  cursor: pointer;
}
li.slick-active button {
  background: #0c3f8a;
  color: #0c3f8a;
}
.slick-slide:focus {
  outline: none;
}
section.demo-projeto {
  padding: 30px 0;
  text-align: center;
}
section.demo-projeto h2 {
  color: #0c3f8a;
  text-align: center;
  font-size: 23px;
}
section.demo-projeto p {
  text-align: center;
  color: #7a7a7a;
  margin-top: 8px;
  font-size: 17px;
  font-weight: 700;
  display: inline-block;
  max-width: 960px;
}
.container-slider,
.container-slider2 {
  width: 100%;
  position: relative;
  margin: 10px auto;
  max-width: 1100px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.container-slider img {
  display: inline;
  border: 6px solid #e6e6e6;
  border-radius: 8px;
  width: 100%;
  max-width: 1100px;
  position: relative;
}
.container-slider2 img {
  display: inline;
  border: 6px solid #e6e6e6;
  border-radius: 8px;
  width: 25%;
  max-width: 1100px;
  position: relative;
}
hr {
  border: 1px solid #ccc;
}
img a {
  border: none;
}
embed,
video,
iframe,
iframe[style] {
  max-width: 100%;
  height: auto;
}
ul {
  list-style: none;
}
.embed-container {
  position: relative;
  max-width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}
.embed-container embed,
.embed-container video,
.embed-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container {
  width: 100%;
  max-width: 1320px;
  padding: 0 2%;
  margin: 0 auto;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
img {
  max-width: 100%;
  display: block;
}
html,
body {
  height: 100%;
}
header {
  background-color: #0c081d;
  padding: 30px 0;
  position: fixed;
  width: 100%;
  z-index: 9;
}
.header-wrapper {
  justify-content: space-between;
}
.header-wrapper div a {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 10.48px;
  text-align: right;
  color: #fdfadd;
  text-decoration: underline;
  text-transform: uppercase;
}
section.main {
  background-color: #150f4c;
  padding: 140px 0 80px;
  background-image: url(../img/background-hero.jpg);
  background-size: cover;
}
section.main img {
  margin: 0 auto 30px;
}
section.main h1 {
  max-width: 1119px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  color: #fdfadd;
  margin: 0 auto 60px;
}
section.main h1 span:nth-child(1) {
  color: #4aeaf8;
}
section.main h1 span:nth-child(2) {
  color: #b85cdd;
}
section.main .embed-container {
  border: solid 4px #5759c7;
}
section.main .embed-container iframe {
  border: 0;
}
section.main .price {
  margin-top: 50px;
}
section.ganhar {
  padding: 0 0 80px;
  background-color: #130644;
}
section.ganhar .box-cartoes {
  position: relative;
  top: -60px;
}
.ganhar-wrapper {
  text-align: center;
}
.ganhar-wrapper span {
  color: #fff;
  display: inline-block;
  padding: 12px 10px;
  font-size: 22px;
  font-weight: 700;
}
.ganhar-wrapper span > b {
  color: #4aeaf8;
}
section.tecnologias {
  padding: 30px 0 60px;
}
.tecnologias-header,
.tecnologias-header-infra {
  margin: 30px 0;
}
.tecnologias-header > h2 {
  font-size: 25px;
  color: #144e9c;
  text-align: center;
}
.tecnologias-header > h2 > b {
  color: #397fde;
}
.tecnologias-header > p {
  font-size: 19px;
  color: #7a7a7a;
  margin: 0 auto;
  max-width: 700px;
  text-align: justify;
  padding: 0 10px;
}
.grid-tecnologias {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.box-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 4px;
  text-align: center;
  width: 20%;
  flex-wrap: wrap;
  border: 1px solid #ccc;
}
.box-grid p {
  width: 100%;
  margin: 10px 0;
}
.tecnologias-header-infra {
  margin: 30px 0;
}
.tecnologias-header-infra > h2 {
  font-size: 25px;
  color: #130644;
  text-align: center;
  margin-bottom: 18px;
}
.tecnologias-header-infra > h2 > b {
  color: #fff;
  display: inline-block;
  background-color: #130644;
  padding: 0 5px;
}
.tecnologias-header-infra > p {
  max-width: 622px;
  font-size: 19px;
  letter-spacing: -0.5px;
  text-align: center;
  color: #4d4d4d;
  margin: 0 auto;
}
.grid-tecnologias:nth-child(10) .box-grid {
  width: calc(20% - 30px) !important;
  margin: 15px;
}
section.box-botoes {
  background-color: #130644;
  padding: 10px 0;
}
section.box-botoes .box-cartoes {
  position: relative;
  top: -45px;
}
section.box-botoes {
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
section.garantia-dupla {
  padding: 10px 0;
  background: #e9ebee;
}
.garantia-dupla-wrapper-int {
  flex-basis: calc(50% - 30px);
  margin: 15px;
  text-align: center;
}
.garantia-dupla-wrapper-int img {
  margin: 0 auto;
}
.garantia-dupla-wrapper-int h2 {
  color: #144e9c;
  margin-bottom: 10px;
}
.garantia-dupla-wrapper-int p {
  color: #4b4b4b;
  max-width: 650px;
  font-size: 17px;
}
section.modulos {
  padding: 40px 0 80px;
  background-image: url(../img/background-15-cursos.jpg);
  background-size: cover;
}
section.modulos > .container > img {
  margin: 0 auto;
}
section.modulos > .container > h1 {
  margin: 0 auto 18px;
  max-width: 769px;
  font-size: 26px;
  font-weight: 900;
  text-align: center;
  color: #fff;
}
section.modulos > .container > h1 > span {
  color: #6decfa;
}
section.modulos > .container > p {
  margin: 0 auto 50px;
  max-width: 758px;
  font-size: 19px;
  line-height: 1.37;
  letter-spacing: 0.2px;
  text-align: center;
  color: #fefe;
}
.modulos-wrapper {
  justify-content: center;
  margin: 0 auto;
}
.modulos-wrapper-int {
  flex-basis: calc(50% - 15px);
  margin: 7.5px;
}
.modulos-wrapper-int-news {
  flex-basis: calc(33.33% - 15px);
  margin: 7.5px;
}
.box-blue {
  border-radius: 12px;
  box-shadow: 0 12px 34px 0 rgba(0, 0, 0, 0.04);
  border: solid 1px #262ca0;
  background-color: #130644;
  padding: 20px;
  text-align: center;
}
.box-blue img {
  margin: 0 auto 14px;
}
.box-blue h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.2px;
  color: #fff;
  margin-bottom: 10px;
}
.box-blue h4 span {
  font-weight: 400;
}
.box-blue p {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.43;
  letter-spacing: 0.2px;
  color: #8789b9;
  margin-bottom: 26px;
  min-height: 120px;
}
.box-blue a {
  margin: 0 auto;
  background-color: #130644;
  display: block;
  border-radius: 33px;
  border: solid 1px #4aeaf8;
  color: #4aeaf8;
  padding: 10px 20px;
  text-transform: uppercase;
}
.bonus-modulos-box {
  margin: 50px auto;
  max-width: 900px;
  background: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 10px;
}
.box-bonus-modulo h2 {
  color: #185dbf;
  font-size: 17px;
  margin-bottom: 15px;
}
.box-bonus-modulo p {
  font-size: 15px;
  color: #5d5d5d;
}
.wrap-bonus {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.bonus-modulos-box h2 {
  color: #294e83;
  text-align: center;
}
.bonus-modulos-box span {
  line-height: 36px;
  border-bottom: 6px solid #fdab15;
}
.box-bonus-modulo {
  width: 33.3%;
  padding: 20px;
  border-collapse: collapse;
  border: 1px solid #ccc;
}
.header-modulos {
  max-width: 650px;
  margin: 50px auto !important;
  text-align: center;
  color: #fff;
}
.cont-curso-single {
  padding: 20px;
  border: 1px solid #378eff;
  text-align: center;
  color: #fff;
}
.header-value {
  color: #fff;
  margin: 40px 0 10px;
  text-align: center;
}
.header-value span {
  color: #4aeaf8;
}
.header-value b {
  font-weight: 400;
  font-size: 14px;
}
section.cursos {
  padding: 40px 0 80px;
}
section.cursos .box-cartoes {
  position: relative;
  top: -80px;
}
section.cursos h1 {
  margin: 0 auto 30px;
  max-width: 629px;
  font-size: 27px;
  font-weight: 700;
  letter-spacing: 0.2px;
  text-align: center;
  color: #130644;
}
section.cursos h1 span {
  color: #b85cdd;
}
section.cursos img {
  margin: 0 auto 30px;
}
.cursos-descricao {
  max-width: 690px;
  margin: 0 auto;
}
.cursos-descricao-wrapper {
  justify-content: space-between;
  margin-bottom: 15px;
}
.cursos-descricao-wrapper div:nth-child(1) p {
  font-size: 23px;
  font-weight: 600;
  color: #686868;
}
.cursos-descricao-wrapper div:nth-child(1) p i {
  color: #0c081d;
  margin-right: 19px;
}
.cursos-descricao-wrapper div:nth-child(2) p {
  font-size: 23px;
  font-weight: 600;
  text-align: right;
  color: #f33636;
  text-decoration: line-through;
}
.cursos-rodape {
  margin: 80px 0 40px;
}
.cursos-rodape h2 {
  font-size: 43px;
  font-weight: 300;
  letter-spacing: 0.2px;
  text-align: center;
  color: #f33636;
  margin-bottom: 18px;
}
.cursos-rodape h2 b {
  text-decoration: line-through;
}
.cursos-rodape h3 {
  margin: 0 auto;
  max-width: 629px;
  font-size: 27px;
  font-weight: 700;
  letter-spacing: 0.2px;
  text-align: center;
  color: #130644;
}
.cursos-rodape h3 span {
  color: #70c616;
  text-decoration: underline;
}
section.instrutor {
  padding: 30px 0 90px;
  background-color: #262ca0;
}
section.instrutor .box-cartoes {
  position: relative;
  top: -80px;
}
section.instrutor h1 {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
}
.instrutor-wrapper {
  justify-content: center;
}
.instrutor-wrapper-int:nth-child(1) {
  flex-basis: 40%;
}
.instrutor-wrapper-int:nth-child(2) {
  flex-basis: calc(60% - 60px);
  margin-left: 40px;
}
.instrutor-wrapper-int:nth-child(2) p {
  font-size: 18px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #fefefe;
  margin-bottom: 20px;
}
section.vantagens {
  padding: 80px 0;
  background-color: #130644;
}
.vantagens-box {
  border-radius: 10px;
  box-shadow: 0 12px 34px 0 rgba(0, 0, 0, 0.04);
  border: solid 1px #262ca0;
  background-color: #130644;
  padding: 63px 47px 50px 55px;
}
.vantagens-box h1 {
  margin: 0 auto 60px;
  max-width: 660px;
  font-size: 27px;
  font-weight: 700;
  text-align: center;
  color: #fff;
}
.vantagens-box-wrapper {
  justify-content: center;
}
.vantagens-box-wrapper-int {
  flex-basis: calc(33.33% - 70px);
  margin: 35px;
}
.vantagens-box-wrapper-int div p {
  font-size: 18px;
  color: #fff;
}
.vantagens-box-wrapper-int-header {
  align-items: center;
  margin-bottom: 14px;
}
.vantagens-box-wrapper-int-header div:nth-child(1) {
  flex-basis: 20%;
}
.vantagens-box-wrapper-int-header div:nth-child(2) {
  flex-basis: calc(80% - 20px);
  margin-left: 10px;
}
.vantagens-box-wrapper-int-header div:nth-child(2) h2 {
  font-size: 23px;
  font-weight: 700;
  color: #4aeaf8;
}
section.depoimentos {
  padding: 60px 0;
  background-color: #e9ebee;
}
section.depoimentos h1 {
  font-size: 25px;
  color: #130644;
  text-align: center;
  margin-bottom: 18px;
}
section.depoimentos h1 span {
  color: #144e9c;
}
section.depoimentos p {
  margin: 0 auto 30px;
  max-width: 660px;
  font-size: 19px;
  color: #7a7a7a;
  text-align: center;
}
section.depoimentos .img {
  margin-bottom: 60px;
}
section.depoimentos .img img {
  margin: 0 auto;
}
section.depoimentos .img .mobile {
  display: none;
}
section.depoimentos h2 {
  font-size: 25px;
  color: #130644;
  text-align: center;
  margin: 0 0 30px;
}
section.depoimentos h2 span {
  color: #144e9c;
}
.videos > h1 {
  margin: 30px 0 0 !important;
}
.videos-int {
  flex-basis: calc(33% - 20px);
  margin: 10px;
}
.videos-int .embed-container iframe {
  border: 0;
}
section.historia {
  padding: 73px 0 80px;
  background-image: url(../img/background-historia.jpg);
  background-size: cover;
  background-position: center;
}
section.historia h1 {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  color: #fff;
  margin-bottom: 46px;
}
.historia-wrapper {
  justify-content: center;
}
.historia-wrapper-int {
  flex-basis: calc(33.33% - 20px);
  margin: 10px;
}
.historia-wrapper-int .box {
  border-radius: 12px;
  box-shadow: 0 12px 34px 0 rgba(0, 0, 0, 0.04);
  border: solid 1px #262ca0;
  background-color: #130644;
  padding: 20px 20px 38px;
}
.historia-wrapper-int .box img {
  margin: 0 auto;
}
.historia-wrapper-int .box h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.2px;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
  margin-top: 36px;
}
.historia-wrapper-int .box p {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.43;
  letter-spacing: 0.2px;
  text-align: center;
  color: #8789b9;
}
section.historia .users {
  margin-top: 48px;
  align-items: center;
  max-width: 95%;
}
.users div:nth-child(1) {
  flex-basis: 50%;
}
.users div:nth-child(2),
.users div:nth-child(3) {
  flex-basis: 25%;
}
.users div:nth-child(2) h2,
.users div:nth-child(3) h2 {
  font-size: 52px;
  font-weight: 700;
  letter-spacing: 0.2px;
  text-align: center;
  color: #fff;
  margin-bottom: 25px;
}
.users div:nth-child(2) p,
.users div:nth-child(3) p {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.2px;
  text-align: center;
  color: #fff;
}
section.certificados {
  padding: 10px 0 0;
}
section.certificados .box-cartoes {
  position: relative;
  top: -60px;
}
section.certificados h1 {
  margin: 0 auto 18px;
  max-width: 541px;
  font-size: 27px;
  font-weight: 600;
  letter-spacing: -0.5px;
  text-align: center;
  color: #130644;
}
section.certificados h1 span {
  font-weight: 900;
}
section.certificados p {
  margin: 0 auto -80px;
  max-width: 622px;
  font-size: 19px;
  letter-spacing: -0.5px;
  text-align: center;
  color: #4d4d4d;
}
.certificado-wrapper {
  position: relative;
  bottom: -135px;
}
.certificado-wrapper-int {
  flex-basis: calc(50% - 20px);
  margin: 10px;
}
section.certificados2 {
  padding: 223px 0 80px;
  background-color: #d9dce6;
}
section.certificados2 h1 {
  margin: 0 auto 43px;
  max-width: 629px;
  font-size: 27px;
  font-weight: 900;
  letter-spacing: 0.2px;
  text-align: center;
  color: #130644;
}
section.certificados2 h1 span {
  color: #b85cdd;
}
section.certificados2 h2 {
  margin: 0 auto;
  max-width: 629px;
  font-size: 27px;
  font-weight: 700;
  letter-spacing: 0.2px;
  text-align: center;
  color: #130644;
}
section.certificados2 h2 span {
  color: #70c616;
  text-decoration: underline;
}
.certificados2-wrapper {
  margin-bottom: 77px;
}
.certificados2-wrapper-int {
  flex-basis: calc(33.33% - 22px);
  margin: 11px;
}
.certificados2-wrapper-int3 {
  flex-basis: calc(33.3% - 22px);
  margin: 11px;
}
.certificados2-wrapper-int2 {
  flex-basis: calc(25% - 22px);
  margin: 11px;
}
section.projetos {
  padding: 60px 0 10px;
  background-color: #130644;
}
section.projetos > .container > h1 {
  font-size: 27px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
}
section.projetos > .container > h2 {
  font-size: 27px;
  font-weight: 700;
  text-align: center;
  color: #fff;
}
section.projetos > .container > p {
  font-weight: 700;
  font-size: 17px;
  color: #fff;
  text-align: center;
}
section.projetos .box-cartoes {
  position: relative;
  top: -100px;
}
.projetos-wrapper {
  justify-content: center;
}
.projetos-wrapper-int:nth-child(1) {
  flex-basis: calc(66% - 20px);
}
.projetos-wrapper-int:nth-child(2) {
  flex-basis: calc(34% - 20px);
  margin: 0 10px;
}
.projetos-wrapper-int:nth-child(1) .projetos-wrapper-int-single {
  flex-basis: calc(50% - 20px);
  margin: 0 10px;
}
.projetos-wrapper-int:nth-child(1) .projetos-wrapper-int-single img {
  padding: 3px;
}
.projetos-wrapper-int:nth-child(1) .projetos-wrapper-int-single:nth-child(1) {
  flex-basis: 100%;
  margin: 10px;
}
.projetos-wrapper-int:nth-child(2) div {
  margin: 10px 10px 40px;
}
section.projetos .box-cartoes2 {
  position: relative;
  margin-bottom: 90px;
  margin-top: 90px;
}
.box-cartoes2 > img.cartoes {
  max-width: 506px;
  border-radius: 27.5px;
  box-shadow: 0 12px 34px 0 rgba(0, 0, 0, 0.15);
  background-color: #fafcff;
  padding: 14px 27px 13px 24px;
  margin: 0 auto;
}
.box-cartoes2 a.cta {
  display: block;
  padding: 20px 62px;
  margin: 0 auto 20px;
  max-width: 800px;
  border-radius: 36.5px;
  background-image: linear-gradient(to bottom, #ffff00 0%, #ffa035 100%);
  text-shadow: 0 2px 0 #4d910a;
  font-family: Lato;
  font-size: 28px;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  border: 2px solid #000;
}
section.formacao {
  padding: 20px 0 91px;
}
section.formacao > .container > img {
  margin: 0 auto;
}
section.formacao h1 {
  font-size: 27px;
  font-weight: 700;
  letter-spacing: 0.2px;
  text-align: center;
  color: #130644;
  margin-top: 90px;
  margin-bottom: 8px;
}
section.formacao > .container > p {
  font-size: 19px;
  letter-spacing: -0.5px;
  text-align: center;
  color: #4d4d4d;
  margin-bottom: 33px;
}
.formacao-wrapper {
  max-width: 775px;
  margin: 33px auto 0;
}
.formacao-int {
  text-align: left !important;
  flex-basis: calc(50% - 40px);
  margin: 20px;
}
.formacao-int p {
  color: #686868;
  padding: 8px 10px;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 6px;
}
.formacao-int p i {
  color: #185dbf;
}
section.plataforma {
  padding: 20px 0 137px;
  background-color: #130644;
}
section.plataforma .box-cartoes {
  position: relative;
  top: -60px;
}
.box-cartoes > img.cartoes {
  max-width: 506px;
  border-radius: 27.5px;
  box-shadow: 0 12px 34px 0 rgba(0, 0, 0, 0.15);
  background-color: #fafcff;
  padding: 14px 27px 13px 24px;
  margin: 0 auto;
}
.box-cartoes a.cta {
  display: block;
  padding: 20px 62px;
  margin: 0 auto 20px;
  max-width: 800px;
  border-radius: 36.5px;
  background-image: linear-gradient(to bottom, #ffff00 0%, #ffa035 100%);
  text-shadow: 0 2px 0 #4d910a;
  font-family: Lato;
  font-size: 28px;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  border: 2px solid #000;
}
section.plataforma h1 {
  font-size: 27px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  margin: 60px 0;
}
.plataforma-dentro {
  max-width: 813px;
  border: solid 4px #5759c7;
  margin: 0 auto;
}
.plataforma-dentro .embed-container iframe {
  border: 0;
}
section.faq {
  padding: 111px 0 137px;
  background-color: #0c081d;
}
section.faq h1 {
  max-width: 750px;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  margin: 0 auto 45px;
}
.faq-wrapper {
  justify-content: center;
}
.faq-int {
  flex-basis: calc(25% - 30px);
  margin: 15px;
}
.faq-int .faq-int-box {
  border-radius: 10px;
  box-shadow: 0 9px 14px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px #e2e3e4;
  background-color: #fff;
  padding: 45px 22px 31px;
  text-align: center;
  min-height: 360px;
}
.faq-int .faq-int-box img {
  margin: 0 auto 23px;
}
.faq-int .faq-int-box h4 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 14px;
}
.faq-int .faq-int-box p {
  font-size: 16px;
  font-weight: 500;
  color: #6c6c6c;
}
section.garantia {
  padding: 54px 0 87px;
  background-color: #e1e1e1;
}
.garantia-wrapper {
  justify-content: center;
  align-items: center;
}
.box-white {
  background: #fff;
  border-radius: 10px;
  padding: 20px 30px;
  max-width: 750px;
  margin: 0 auto;
}
.garantia-int:nth-child(1) {
  flex-basis: 30%;
  margin-right: 10px;
}
.garantia-int:nth-child(2) {
  flex-basis: 65%;
}
.garantia-int:nth-child(2) h2 {
  color: #130644;
  font-size: 20px;
}
.garantia-int:nth-child(2) p {
  font-weight: 700;
  font-size: 17px;
  color: #7a7a7a;
}
.garantia-int:nth-child(2) p span {
  text-decoration: underline;
}
section.rodape {
  padding: 60px 0 68px;
  background-image: url(../img/background-rodape.jpg);
  background-size: cover;
  background-position: center;
}
section.rodape > .container > img {
  margin: 0 auto;
}
.price {
  margin: 0 auto 41px;
  width: 380px;
}
.price-wrapper {
  justify-content: center;
  align-items: center;
}
.price-int:nth-child(1) {
  flex-basis: calc(32% - 8px);
  margin: 4px;
}
.price-int:nth-child(2) {
  flex-basis: calc(50% - 8px);
  margin: 4px;
  text-align: center;
}
.price-int:nth-child(1) div p.line-through {
  text-decoration: line-through;
  font-size: 17px;
  font-weight: 700;
  color: #b85cdd;
}
.price-int:nth-child(1) div p:nth-child(2) {
  font-size: 17px;
  font-weight: 700;
  color: #4aeaf8;
}
.price-int:nth-child(1) div p:nth-child(3) {
  font-size: 24px;
  font-weight: 700;
  color: #4aeaf8;
}
.price-int:nth-child(2) div p {
  font-size: 73px;
  font-weight: 900;
  color: #4aeaf8;
}
section.rodape a.cta {
  display: block;
  padding: 20px 62px;
  margin: 0 auto 20px;
  max-width: 800px;
  border-radius: 36.5px;
  background-image: linear-gradient(to bottom, #ffff00 0%, #ffa035 100%);
  text-shadow: 0 2px 0 #4d910a;
  font-family: Lato;
  font-size: 28px;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  border: 2px solid #000;
}
section.rodape > .container > img.cartoes {
  max-width: 506px;
  border-radius: 27.5px;
  box-shadow: 0 12px 34px 0 rgba(0, 0, 0, 0.15);
  background-color: #fafcff;
  padding: 14px 27px 13px 24px;
}
footer {
  padding: 30px 0;
  text-align: center;
  color: #fff;
  background-color: #185dbf;
}
footer p {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  section.main {
    padding: 180px 0 80px;
  }
  .grid-tecnologias {
    justify-content: center;
    border: 0;
  }
  .box-grid {
    width: 25%;
    border: 0;
    border: 1px solid #ccc;
  }
  .grid-tecnologias:nth-child(10) .box-grid {
    width: calc(33.33% - 30px) !important;
    margin: 15px;
  }
  .modulos-wrapper-int {
    flex-basis: calc(50% - 15px);
    margin: 7.5px;
  }
  .modulos-wrapper-int-news {
    flex-basis: calc(50% - 15px);
    margin: 7.5px;
  }
  .instrutor-wrapper-int:nth-child(1) {
    flex-basis: 100%;
  }
  .instrutor-wrapper-int:nth-child(1) img {
    margin: 0 auto;
  }
  .instrutor-wrapper-int:nth-child(2) {
    flex-basis: calc(100% - 60px);
    margin: 30px 0;
  }
  .vantagens-box {
    padding: 50px 25px;
  }
  .vantagens-box h1 {
    margin: 0 auto;
  }
  .vantagens-box-wrapper-int {
    flex-basis: calc(50% - 70px);
    margin: 35px;
  }
  section.historia .users {
    margin: 48px auto;
    max-width: 100%;
    justify-content: center;
  }
  .users div:nth-child(1) {
    display: none;
  }
  .users div:nth-child(2),
  .users div:nth-child(3) {
    flex-basis: 50%;
  }
  .historia-wrapper-int {
    flex-basis: calc(50% - 20px);
    margin: 10px;
  }
  .faq-int {
    flex-basis: calc(50% - 30px);
    margin: 15px;
  }
}
@media screen and (max-width: 768px) {
  .certificados2-wrapper-int3 {
    flex-basis: 100%;
    margin: 11px;
  }
  img.logo {
    max-width: 80% !important;
    margin: 0 auto !important;
  }
  .header-wrapper {
    justify-content: center;
  }
  .header-wrapper img {
    display: inline-block;
  }
  .header-wrapper div:nth-child(1) {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
  .header-wrapper div a {
    font-size: 0.75em;
    font-weight: 700;
    letter-spacing: 7px;
  }
  .box-grid {
    width: 50%;
  }
  .grid-tecnologias:nth-child(10) .box-grid {
    width: calc(50% - 30px) !important;
  }
  .box-bonus-modulo {
    width: 100%;
  }
  .garantia-dupla-wrapper-int {
    flex-basis: calc(100% - 30px);
  }
  .modulos-wrapper-int {
    flex-basis: calc(100% - 15px);
    margin: 7.5px;
  }
  .modulos-wrapper-int-news {
    flex-basis: calc(100% - 15px);
    margin: 7.5px;
  }
  .cursos-descricao-wrapper div:nth-child(1) p {
    font-size: 0.875em;
  }
  .cursos-descricao-wrapper div:nth-child(2) p {
    font-size: 0.7em;
  }
  .cursos-rodape h2 {
    font-size: 33px;
  }
  .cursos-rodape h3 {
    font-size: 1.3em;
  }
  .vantagens-box {
    padding: 25px 12.5px;
  }
  .vantagens-box-wrapper-int {
    flex-basis: calc(100% - 40px);
    margin: 20px;
  }
  section.depoimentos .img .mobile {
    display: flex;
  }
  section.depoimentos .img .desktop {
    display: none;
  }
  .videos-int {
    flex-basis: calc(100% - 20px) !important;
    margin: 10px;
  }
  .videos-int:nth-child(7),
  .videos-int:nth-child(8) {
    flex-basis: calc(100% - 20px) !important;
    margin: 10px;
  }
  .videos-int:nth-child(9),
  .videos-int:nth-child(10) {
    flex-basis: calc(100% - 20px) !important;
    margin: 10px;
  }
  .users div:nth-child(2),
  .users div:nth-child(3) {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
  .historia-wrapper-int {
    flex-basis: calc(100% - 20px);
    margin: 10px;
  }
  .certificado-wrapper-int {
    flex-basis: calc(100% - 20px);
    margin: 10px;
  }
  .certificados2-wrapper {
    justify-content: center;
  }
  .certificados2-wrapper-int {
    flex-basis: calc(50% - 22px);
    margin: 11px;
  }
  .certificados2-wrapper-int2 {
    flex-basis: calc(50% - 22px);
    margin: 11px;
  }
  .projetos-wrapper-int:nth-child(1) {
    flex-basis: calc(100% - 20px);
  }
  .projetos-wrapper-int:nth-child(2) {
    flex-basis: calc(100% - 20px);
    margin: 0 10px;
  }
  .projetos-wrapper-int:nth-child(1) .projetos-wrapper-int-single {
    flex-basis: calc(50% - 10px);
    margin: 5px;
  }
  .projetos-wrapper-int:nth-child(1) .projetos-wrapper-int-single img {
    padding: 0;
  }
  .projetos-wrapper-int:nth-child(1) .projetos-wrapper-int-single:nth-child(1) {
    flex-basis: 100%;
    margin: 5px;
  }
  .projetos-wrapper-int:nth-child(2) div {
    margin: 5px;
  }
  .box-cartoes2 > img.cartoes {
    max-width: 100%;
  }
  .box-cartoes2 a.cta {
    padding: 15px 42px;
    font-size: 1em;
  }
  .formacao-int {
    flex-basis: calc(100% - 40px);
    margin: 20px;
  }
  .box-cartoes > img.cartoes {
    max-width: 100%;
  }
  .box-cartoes2 > img.cartoes {
    max-width: 100%;
  }
  .box-cartoes a.cta {
    font-size: 1em;
    padding: 15px 42px;
  }
  .faq-int {
    flex-basis: calc(100% - 30px);
    margin: 15px;
  }
  .garantia-int:nth-child(1) {
    flex-basis: 100%;
    margin: 0 0 15px;
  }
  .garantia-int:nth-child(1) img {
    margin: 0 auto;
  }
  .garantia-int:nth-child(2) {
    flex-basis: 100%;
    text-align: center;
  }
  section.rodape a.cta {
    font-size: 1em;
    padding: 20px 42px;
  }
  .price {
    width: 100%;
  }
  .price-int:nth-child(1) {
    flex-basis: 35%;
  }
  section.rodape > .container > img.cartoes {
    max-width: 100%;
    border-radius: 27.5px;
    box-shadow: 0 12px 34px 0 rgba(0, 0, 0, 0.15);
    background-color: #fafcff;
    padding: 14px 27px 13px 24px;
  }
}
